body {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: rgb(104, 102, 102);
}

#info {
    text-align: left;
    width: 100%;
    background-color: white;
    border: solid 1px rgb(0, 0, 0);
    
    margin: 5px;
    padding: 2px;
}

#apercu {
    text-align: left;
    width: 100%;
    background-color: white;
    border: solid 1px rgb(0, 0, 0);
    
    margin: 5px;
    padding: 2px;
}

#joueur {
    text-align: left;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    background-color: white;
    border: solid 1px rgb(0, 0, 0);

    margin: 5px;
    padding: 2px;
}

#cartes {
    background-color: white;
    border: solid 1px red;
    
    margin: 5px;
    padding: 2px; 
}

#bouton {
    background-color: white;
    border: solid 1px red;
    
    margin: 5px;
    padding: 2px; 
}